[mysqld]
# Server Identity
server-id=2

# GTID Replication
gtid_mode=ON
enforce-gtid-consistency=ON
log-replica-updates=ON

# Relay Log
relay-log=mysql-relay-bin
log-bin=mysql-bin
binlog_format=ROW

# init 스크립트에서 CHANGE REPLICATION SOURCE 전에 자동 시작 방지
skip-replica-start=ON

# Semi-Synchronous Replication (Replica)
plugin-load-add=rpl_semi_sync_replica=semisync_replica.so
loose-rpl_semi_sync_replica_enabled=1

# Slow Query Log
slow-query-log=ON
long_query_time=2
log-queries-not-using-indexes=ON
slow_query_log_file=/var/lib/mysql/slow.log

# Performance Schema
performance-schema=ON
